/********** Border radius e Box sizing ************
#caixa{
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 50px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#caixa2{
    width: 300px;
    height: 300px;
    background: #b9c941;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
*/

/****************** Degrade e Transparencia**************
#caixa{
    width: 300px;
    height: 300px;
    /*background: url(../imagens/camera.png);*/
    /*background: linear-gradient(90deg, red, green, yellow, blue);
    background: radial-gradient(red, green, yellow);
}
*/
/*
#caixa h1{
    background: rgb(255, 255, 255, 0.8);
}
*/

/****************** Sombras ***************************
#caixa{
    width: 300px;
    height: 300px;
    padding: 8px;
    margin: 20px;
    background: #009670;
    box-shadow: 20px 20px 2px 20px black;
}

#caixa h1{
    color: white;
    /*text-shadow: 2px 2px red;*
    text-shadow: 20px 20px 5px rgb(0, 0, 0, 0.6);
}
*/

/************* Animações ***************************/
/*
@keyframes animacao-caixa {
    from{/* estado inicial *
        background: red;
        border-radius: 0px;
        top: 0;
        left: 0;
    }
    to{/* estado final *
        background: yellow;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}

#caixa{
    width: 300px;
    height: 300px;
    background: red;
    position: relative;
    /*animation-name: animacao-caixa;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;*

    animation: animacao-caixa 5s 3s 2 alternate;
}*/

/*************** Transições ***************/
/*
#caixa{
    width: 300px;
    height: 300px;
    background: orange;
}

#caixa:hover{
    width: 400px;
    background: yellow;
    /*transition: width 3s, background 3s;*
    transition: all 3s;
}
*/

/******************* Header, Nav e Footer *************/

header{
    border: 1px solid #ccc;
    background: #f2f2f2;
    padding: 10px;
}

nav{
    border: 1px solid green;
    background: #f2f2f2;
    padding: 10px;
}

footer{
    background: #ccc;
}

article{
    background: orange;
    padding: 10px;
}

section{
    border: 1px dotted #fff;
    padding: 10px;
}

aside{
    background: blue;
}